#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.ant-layout-sider {
  z-index: 2;
}
.ant-btn-success {
  background: rgb(9, 245, 48);
  color: #fff;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-collapse-content-box {
  min-width: 200px;
  overflow: auto;
}

.ant-layout {
  min-height: 100vh;
}
.layout-content {
  margin: 80px 16px 24px 16px;
  padding: 24;
  background: "#fff";
  min-height: 280;
}
.ant-menu.ant-menu-light {
  min-height: 100%;
  position: fixed;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 200px;
}
.ant-menu.ant-menu-light.ant-menu-inline-collapsed {
  width: 80px;
}
.wrap-header {
  display: flex;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.wrap-header .date {
  margin-right: 6em;
  overflow: auto;
}
.ant-layout-header .trigger.anticon {
  font-size: 18px;
  margin-left: 20px;
  padding-top: 22px;
}
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 13px;
}
.centered p {
  margin-bottom: 0;
}
.table-info span {
  margin: 0 5px;
}
.centered .table-code {
  font-size: 15px;
  font-weight: bold;
}
.centered .status {
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  left: -15px;
}
.centered .reserved-table {
  font-weight: bold;
  color: #ff6161;
}
.centered .status.danger {
  background: #ff6161;
}
.centered .status.warning {
  background: #ffde4d;
}
.centered .status.success {
  background: #61ff7b;
}

.centered .holding {
  position: absolute;
  top: 75px;
  font-size: 20px;
  right: -25px;
  color: #fa1f56;
}
/* .square {
    border: 1px solid black;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 8px;
    vertical-align: middle;
  }
  
  .square.pick {
    background: #33ec7a;
  } */

/* Dashboard */
.dashboard .ant-card {
  border-radius: 10px;
  margin-bottom: 1em;
}
.dashboard .ant-statistic-title {
  overflow: hidden;
  max-height: 20px;
}
.dashboard .short {
  color: #fff;
}
.statistic {
  margin-top: 2em;
  padding: 1em 2em;
  border-color: #e8e8e8;
  border-radius: 10px;
}
.statistic .title {
  font-size: 20px;
  font-weight: bold;
}

.loading-area {
  width: 100%;
  padding: 2em;
  font-size: 20px;
  text-align: center;
}

.noti-btn {
  position: absolute;
  top: 2em;
  right: 3em;
}

.table-map-grid .ant-row > .ant-col {
  width: 230px;
  height: 230px;
}

.noti-cashier {
  font-size: 20px;
  float: right;
  top: 20px;
  right: 40px;
  position: absolute;
}

.info-zone {
  padding: 1em 0;
  background: #858585; /* fallback for old browsers */
  overflow: auto;
  color: #fff;
  margin-bottom: 1em;
}

.info-zone .border-right {
  border-right: solid 1px #858688;
}

.info-zone .info-btn {
  padding: 4px 5px;
  border-radius: 50%;
  background: rgb(107, 189, 214);
}

.ifz-1 {
  text-align: center;
}
.ifz-1 .line {
  margin-bottom: 10px;
}
.ifz-2 {
  margin: 0 10px;
  padding: 8px 0;
  border-top: solid 1px #858688;
}
.ifz-2 .btn-all {
  width: 20px;
}
.ifz-2.non-border {
  border: none;
}

.ifz-2 .anticon {
  margin-right: 1em;
}
.ifz-2 .btn-all {
  width: 50px;
}
.ifz-2 .btn1 {
  width: 50px;
}
.ifz-2 .btn2 {
  width: 50px;
}
.ifz-2 .ant-btn {
  /* width: 120px; */
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}

.ifz-2 .ant-btn.active {
  background: rgb(71, 202, 253);
  border-color: #fff;
}
.if-t {
  background: #fff;
}
.if-t .ant-table-pagination.ant-pagination {
  margin-right: 1em;
}

.ifz-3 {
  margin-top: 1em;
  text-align: center;
}

.ifz-3 .ant-btn {
  margin-right: 8px;
}

.actions-header .ant-btn {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.actions-header .check-btn {
  border-color: #6ff16a;
  color: #fff;
  background: #6ff16a;
}
.actions-header .cancel-btn {
  border-color: #f76363;
  color: #fff;
  background: #f76363;
}

.de-menus {
  margin: 1em 0;
  background: #9e9e9e;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.de-menus .ant-btn {
  margin-right: 1em;
  width: 100px;
}
.de-info {
  margin-top: 1em;
}
.de-info .header {
  background: #9e9e9e;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.de-info .header-icon {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  float: right;
}
.de-info .header-icon:active {
  color: rgb(223, 223, 223);
}
.de-info .header .icon {
  margin-right: 5px;
}

.de-info .left .ant-form-item-label {
  text-align: left;
}

.sts-s {
  padding: 10px;
}

.sts-t {
  width: 150px;
}

.client-modal {
  width: 60% !important;
  min-width: 520px;
}
.join-modal {
  top: 10px;
  width: 98% !important;
}
.join-modal .ant-modal-footer {
  display: none;
}
.join-modal .actions {
  margin-bottom: 1em;
}
.posDate {
  margin-left: 2em;
  color: #1890ff;
  white-space: pre;
}
.today {
  margin-left: 2em;
  color: #f064dd;
  white-space: pre;
}
.s-t {
  margin-right: 5px;
  font-weight: bold;
}

.table-join {
  /* border: 3px solid #18ff5d;
  padding: 5px; */
  background: #8383837c;
  padding: 5px;
  border-radius: 5px;
}

.closed-area {
  max-height: 0;
  overflow: hidden;
  /* transition: .5s ea; */
  transition: max-height 1s ease;
}
.nvf {
  background: #fff;
  padding: 1em;
  overflow: auto;
}
.no-valid-form .ant-form-item {
  margin-bottom: 0;
}
.no-valid-form .ant-form-item-label {
  text-align: left;
}

.order-zone {
  /* padding: 1em 0; */
  /* background: #858585; */
}
.oib {
  padding: 0 1em;
}
.oib .seperate {
  margin-top: 5px;
}
.oib .title {
  /* color: #fff; */
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
.oib .value {
  color: rgba(255, 255, 255, 0.959);
}
.hd-btn {
  text-align: center;
}
.hd-btn button {
  height: 90px;
  width: 90px;
  /* margin-top: 10px; */
  font-size: 30px;
  background: #4cc9e9;
  color: #fff;
  border-color: #fff;
}
.hd-btn button:hover {
  background: #fff;
  color: #4cc9e9;
  border-color: #4cc9e9;
}
.oz {
  /* padding: 1em; */
}
.order-item {
  height: 85px;
  width: 200px;
  padding-top: 5px;
  word-break: break-word;
  margin-right: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  font-size: 16px;
  align-self: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.order-item-custom {
  height: 100px;
  width: 120px;
  padding-top: 5px;
  word-break: break-word;
  /* margin-right: 1em;
  margin-bottom: 1em; */
  overflow: hidden;
  font-size: 16px;
  align-self: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* border-radius: 5px; */
  color: #fff;
  background: #4b4b4b;
  cursor: pointer;
  user-select: none;
}
.order-item-custom:hover {
  background: #575757;
}
.oi-wrap {
  height: 82px;
}

.order-item.main-item {
  background: rgb(218, 232, 243);
  padding: 5px;
  color: #464646;
}
.order-item.main-item:active {
  background: rgb(179, 222, 255);
}
.order-item.main-item:hover {
  background: rgb(192, 223, 247);
}
.order-item-custom.main-item {
  background: rgb(218, 232, 243);
  color: #464646;
}
.oi-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 23px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.oi-text p {
  margin-bottom: 0;
  margin: auto;
}

.order-item .oi-text p {
  font-size: 16px;
  font-weight: bold;
}
.order-item-custom .oi-text p {
  font-size: 12px;
}
.breadscrumb-menu {
  /* margin: 1em; */
  margin: 1em 0;
}
.breadscrumb-menu .ant-breadcrumb-separator {
  /* color: #fff; */
  display: none;
}
.breadscrumb-menu .ant-breadcrumb-link {
  padding: 8px 20px 10px 20px;
  border-radius: 30px;
  background: rgb(95, 232, 241);
  font-size: 16px;
  color: #000;
  margin-right: 10px;
}

.menus-zone {
  flex: 1;
  display: flex;
  overflow: auto;
}
.mz-wrap {
  min-height: min-content; /* needs vendor prefixes */
  display: flex;
  background: #4d4d4d;
  /* width: 100%; */
}
.ab-wrap {
  width: 90px;
  text-align: center;
}
.item-zone {
  display: flex;
  flex-wrap: wrap;
  border-top: #fff solid 1px;
  /* padding-top: 8px; */
}
.item-zone .order-item {
  height: 80px;
}
.item-zone .order-item-custom {
  height: 95px;
}

.item-zone .items {
  margin-top: 30px;
}
.p-text {
  height: 20px;
}

.p-text .symbol {
  margin-left: 5px;
}

.order-item-custom.active {
  background: #32c9dd;
  /* border-radius: 10px; */
}

.order-item-custom .image {
  width: 40px;
  margin-bottom: 5px;
}
.ab-item {
  color: #fff;
  cursor: pointer;
  user-select: none;
  padding: 0 5px;
}
.ab-item:hover {
  background: #606060;
}
.ab-item.sl {
  border-left: 1px rgb(190, 190, 190) solid;
}
.ab-item.sr {
  border-right: 1px rgb(190, 190, 190) solid;
}
.ab-icon {
  margin-top: 10px;
  font-size: 25px;
}
.ab-text {
  font-size: 12px;
  text-transform: uppercase;
}
.bill-detail-table {
  overflow: auto;
}
.bill-detail-table .green {
  color: #1bd870;
}
.bill-detail-table .red {
  color: #f52044 !important;
}
.bill-detail-table .ant-table-pagination li {
  min-width: 40px;
  height: 40px;
  line-height: 36px;
}

.bill-detail-table .req {
  font-weight: bold;
  color: #f32d9a;
}

.dt2-h {
  background: #fff;
  color: #464646;
  margin-bottom: 2em;
  overflow: auto;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12),
    0px 6px 12px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12),
    0px 6px 12px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12),
    0px 6px 12px rgba(0, 0, 0, 0.08);
}

.dt2-h .sz {
  border-radius: 5px;
  text-align: center;
  /* margin: 0 1em; */
  height: 62px;
  padding-top: 0.6em;
  background: rgba(13, 141, 201, 0.863);
  color: #fff;
}

.dt2-h .checkNo {
  font-weight: bold;
  font-size: 14px;
}

.dt2-h .hb-btn {
  background: #1bd870;
  color: #fff;
  width: 100%;
  height: 62px;
  font-weight: bold;
  font-size: 20px;
}

.close {
  height: 0;
  overflow: hidden;
  background: red;
  transition: all 0.3s linear;
  /* transition: all 3s; */
}
.quantity-zone {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  width: 100%;
}

.quantity-zone .input {
  text-align: center;
  width: 70px;
  height: 38px;
  margin-right: 10px;
  margin-top: 10px;
  border-color: #199bf1;
  font-weight: bold;
}

.quantity-zone .ant-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.alert-noti {
  background: #fd1a54;
}

.alert-noti .ant-notification-notice-message {
  color: #fff;
}

.success-noti {
  background: #1afd4b;
}

.success-noti .ant-notification-notice-message {
  color: #fff;
}

.cq-zone {
  width: 150px;
  margin-top: 1em;
  margin: auto;
}

.selected-row {
  background: rgba(104, 242, 252, 0.548) !important;
}
.selected-row:hover {
  background: none;
}
.picked-up-table {
  cursor: pointer;
}
.bill-detail-table .ant-table-tbody {
  max-height: 200px !important;
}
.bill-detail-table .ant-table-thead > tr:hover > td,
.bill-detail-table .ant-table-tbody > tr:hover > td {
  background: rgba(164, 247, 252, 0.219) !important;
}

.request-btn {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.prev-btn {
  margin-bottom: 1em;
}

.btnz {
  margin-top: 5px;
}
.btnz .ant-btn {
  margin-right: 5px;
}

.sp-btn {
  height: 100px;
  white-space: break-spaces;
  width: 100%;
}
.sp-btn i {
  width: 100%;
  font-size: 30px;
}
.dt2-actions {
  margin-top: 2em;
  display: flex;
  overflow: auto;
}
.dt2-actions .btn-sp {
  width: 120px;
  margin-right: 4px;
}
.dt2-actions button {
  margin-bottom: 4px;
  width: 100%;
}
.dt2-actions button p {
  margin: 0;
}
.dt2-actions i {
  width: 100%;
}

.dt2-actions .btn-d {
  padding: 0;
  height: 48px;
  width: 100px;
  margin-bottom: 4px;
  white-space: normal;
  word-wrap: break-word;
}
.dt2-actions .btn-d span {
  margin-left: 0;
  font-size: 12px;
}
.dt2-actions .sp-btn span {
  margin-left: 0;
}
.bz.bz2 {
  margin: 0 1em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  background: #fff;
}
.bz .row {
  height: 32px;
  padding: 5px 10px 0 10px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
}
.bz .row .col-1 {
  width: 105px;
}
.bz .row .col-2 {
  min-width: 128px;
  overflow: hidden;
}
.bz .row:last-child {
  border-bottom: none;
}

.ab {
  min-height: min-content; /* needs vendor prefixes */
  display: flex;
  height: 100%;
  overflow: auto;
  background: #4d4d4d;
}
.ab .ant-btn {
  width: 135px;
  margin: 5px;
  border-color: #000;
  color: red;
}
.table-actions {
  height: 90px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.detail-page {
  padding-bottom: 90px;
}
.col-custom {
  padding: 0 10px;
  margin-top: 5px;
}
.ki-2 .btn {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
.addon-modal {
  width: 650px !important;
}
.addon-btn {
  text-align: center;
  width: 150px;
  margin: 5px 10px;
  display: inline-flex;
  color: #4d4d4d;
  border: 2px solid #4d4d4d;
  height: 52px;
  padding: 2px 5px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
  user-select: none;
}
.addon-btn:hover {
  color: #646464dc;
  border: 2px solid #646464dc;
}
.addon-btn:active {
  color: #646464dc;
  border: 2px solid #646464dc;
}
.addon-btn.active {
  color: #fff;
  background: #4d4d4d;
}
.addon-btn span {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.order-info {
  padding: 10px;
}
.order-item-info {
  color: #fff;
  display: flex;
}
.order-item-info .title {
  width: 110px;
  font-weight: bold;
  text-align: right;
  margin-right: 5px;
}
.order-item-info.total-amount {
  font-size: 16px !important;
  color: #56f3d8;
}
.more-options {
  width: 100px;
}
.order-info-group {
  display: flex;
}
.order-info-group .sl {
  border-left: 1px rgb(190, 190, 190) solid;
}
.ant-table-placeholder {
  z-index: unset;
}
.table-item {
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}
.table-item.active {
  background: rgba(114, 244, 248, 0.466);
}
.table-item-content {
  padding: 5px;
}

/* Discount Modal */
.discount-modal {
  width: 800px !important;
  top: 80px;
}
.discount-modal .ant-modal-content {
  height: 500px;
}
.discount-modal .ant-modal-footer {
  display: none;
}
.item-discount-modal {
  width: 400px !important;
  top: 80px;
}
.custom-btn-group {
  display: flex;
  flex-wrap: wrap;
}
.custom-btn {
  cursor: pointer;
  width: 130px;
  user-select: none;
  background: #4895ea;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 5px;
  overflow: hidden;
}
.custom-btn.active {
  background: #4fc3f7;
}
.list-discount {
  height: 195px;
  margin-bottom: 10px;
  overflow: auto;
}
.select-class {
  height: 195px;
  border: 1px solid #394044;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}
.custom-btn.double-line {
  padding-top: 5px;
  line-height: 20px;
}
.custom-btn.double-line.active {
  background: #4fc3f7;
}
.custom-btn.double-line span {
  white-space: nowrap;
}
.dmr-top {
  display: flex;
}
.dmr-top .inputs {
  width: 280px;
}
.dmr-top .inputs .input {
  display: flex;
  margin: 5px;
}
.dmr-top .inputs .input.active .title {
  background: #4895ea;
  border-color: #4895ea;
}
.dmr-top .inputs .input.active .value {
  border-color: #4895ea;
}
.dmr-top .inputs .value {
  height: 40px;
  width: 172px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #394044;
  transition: 0.5s;
  border-left: none;
  line-height: 40px;
  padding-left: 10px;
}
.dmr-top .inputs .input .title {
  width: 72px;
  line-height: 40px;
  color: #fff;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #394044;
  background: #394044;
  transition: 0.5s;
  height: 40px;
}
.dmr-top .input-value {
  height: 54px;
  border: 1px solid #394044;
  border-radius: 5px;
  line-height: 54px;
  font-size: 25px;
  margin: 5px;
  width: 100%;
  text-align: center;
}
.custom-btn.double-line.on-btn {
  width: 100px;
  height: 85px;
  line-height: 30px;
  padding-top: 10px;
  font-size: 20px;
}
.discount-modal-right {
  padding: 0 10px;
}
.discount-modal-right .status {
  border-radius: 5px;
  border: 1px solid #394044;
  padding: 0 10px;
  text-align: center;
  margin: 5px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #394044;
}
.keyboard .line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.keyboard .line .key {
  width: 25%;
  text-align: center;
  padding: 5px;
  user-select: none;
}
.keyboard .line .key .key-content {
  cursor: pointer;
  background: #4895ea;
  color: #fff;
  border-radius: 5px;
  height: 54px;
  line-height: 54px;
  font-size: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.keyboard .line .key .key-content:active {
  background: #4896eac0;
}
.keyboard .line .key.warning .key-content {
  background: #faa825;
}
.keyboard .line .key.success .key-content {
  background: #8ec34c;
}
.keyboard .line .key.danger .key-content {
  background: #f34237;
}

.sb-actions,
.sb-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb-action {
  width: 150px;
  /* background: #1890ff; */
  border: 1px solid #394044;
  margin: 5px;
  padding: 8px 0;
  text-align: center;
  border-radius: 5px;
  color: #394044;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  transition: 0.5s;
}
.sb-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
}
.sb-centre .balance {
  font-size: 25px;
  margin-right: 10px;
}
.sb-btn {
  width: 40px;
  background: #1890ff;
  color: #fff;
  margin: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}
.sb-input {
  width: 150px;
  border-radius: 5px;
  border: 1px solid #394044;

  font-size: 30px;
  margin: 0 5px;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.sb-inputs .sb-btn {
  /* font-weight: bold; */
}
.sb-action.active {
  background: #1890ff;
  color: #fff;
  border-color: #1890ff;
}
.split-bill-modal {
  width: 98% !important;
  top: 15px;
}
.split-bill-modal .body {
  margin-top: 5px;
}
.split-bill-modal .ant-modal-body {
  padding: 10px;
}
.split-bill-modal .ant-modal-footer {
  display: none;
}
.split-bill-modal .footer {
  margin-top: 10px;
}
.split-bill-modal .footer button {
  height: 50px;
  font-size: 20px;
  color: #fff;
}
.split-bill-modal .footer button.cancel {
  color: #ff3318;
  border-color: #ff3318;
}
.split-bill-modal .footer button.ok {
  color: #27ec31;
  border-color: #27ec31;
  float: right;
}
.split-bill-modal .footer button.cancel:active {
  color: #fff;
  background: #ff3318;
}
.split-bill-modal .footer button.ok:active {
  color: #fff;
  background: #1ed46a;
}
.manual-left-top {
  display: flex;
}
.manual-left-top .s1 {
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid #394044;
  color: #394044;
  font-size: 16px;
  border-radius: 5px;
}

.manual-btn {
  width: 50px;
  border: 1px solid #394044;
  line-height: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.manual-left-top .manual-btn.s2 {
  margin: 0 5px;
  border-color: #ff3318;
  color: #ff3318;
}
.manual-left-top .manual-btn.s3 {
  border-color: #1ed46a;
  color: #1ed46a;
}

.manual-left-middle {
  margin: 5px 0;
  display: flex;
}
.manual-btn.guest {
  margin-left: 5px;
}
.manual-btn.active {
  background: #1890ff;
  border-color: #1890ff;
  color: #fff;
}
.manual-middle {
  padding-top: 100px;
}
.manual-middle .btn {
  width: 80px;
  margin: auto;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  background: #1890ff;
  color: #fff;
  margin-bottom: 10px;
}
.manual-middle .btn.quantity {
  background: #fff;
  border: #1890ff 1px solid;
  color: #1890ff;
}
.manual-middle .btn.quantity input {
  width: 100%;
  height: 30px;
  border: none;
  text-align: center;
  outline: none;
}
.guest-zone {
  display: flex;
}
.manual-middle .btn.disabled {
  background: #d1d1d1;
  pointer-events: none;
  border: none;
  color: #686868;
}
.manual-middle .btn.quantity.disabled input {
  background: #d1d1d1;
  color: #686868;
}
.select-bill-modal .ant-modal-footer {
  display: none;
}
.selected-bill {
  background: #2fcc71;
  color: #fff;
  transition: 0s !important;
}
.selected-bill:hover {
  color: red;
}

.select-client-modal {
  width: 60% !important;
}
.select-client-modal .ant-modal-footer {
  display: none;
}
.select-client-section .function-zone {
  display: flex;
  margin-top: 20px;
}
.select-client-section .function-zone .select-button {
  margin-left: 10px;
  background: #1bd870;
  border-color: #1bd870;
}
.select-client-section .function-zone .select-button:hover {
  background: #1bd870c0;
}
