#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-collapse-content-box {
  min-width: 200px;
  overflow: auto;
}

.ant-layout {
  min-height: 100vh;
}
.ant-menu.ant-menu-light {
  min-height: 100%;
}
.wrap-header {
  display: flex;
}
.wrap-header .date {
  margin-right: 6em;
  overflow: auto;
}
.ant-layout-header .trigger.anticon {
  font-size: 18px;
  margin-left: 20px;
  padding-top: 22px;
}
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 13px;
}
.centered p {
  margin-bottom: 0;
}
.table-info span {
  margin: 0 5px;
}
.centered .table-code {
  font-size: 15px;
  font-weight: bold;
}
.centered .status {
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: -25px;
}
.centered .reserved-table {
  font-weight: bold;
  color: #ff6161;
}
.centered .status.danger {
  background: #ff6161;
}
.centered .status.warning {
  background: #ffde4d;
}
.centered .status.success {
  background: #61ff7b;
}

.centered .holding {
  position: absolute;
  top: 75px;
  font-size: 20px;
  right: -25px;
  color: #fa1f56;
}
/* .square {
    border: 1px solid black;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 8px;
    vertical-align: middle;
  }
  
  .square.pick {
    background: #33ec7a;
  } */

/* Dashboard */
.dashboard .ant-card {
  border-radius: 10px;
  margin-bottom: 1em;
}
.dashboard .short {
  color: #fff;
}
.statistic {
  margin-top: 2em;
  padding: 1em 2em;
  border-color: #e8e8e8;
  border-radius: 10px;
}
.statistic .title {
  font-size: 20px;
  font-weight: bold;
}

.loading-area {
  width: 100%;
  padding: 2em;
  font-size: 20px;
  text-align: center;
}

.noti-btn {
  position: absolute;
  top: 2em;
  right: 3em;
}

.table-map-grid .ant-row > .ant-col {
  width: 230px;
  height: 230px;
}

.noti-cashier {
  font-size: 20px;
  float: right;
  top: 20px;
  right: 40px;
  position: absolute;
}

.info-zone {
  padding: 1em 0;
  background: #858585; /* fallback for old browsers */

  color: #fff;
  margin-bottom: 1em;
}

.info-zone .border-right {
  border-right: solid 1px #858688;
}

.info-zone .info-btn {
  padding: 4px 5px;
  border-radius: 50%;
  background: rgb(107, 189, 214);
}

.ifz-1 {
  text-align: center;
}
.ifz-1 .line {
  margin-bottom: 10px;
}
.ifz-2 {
  margin: 0 10px;
  padding: 8px 0;
  border-top: solid 1px #858688;
}
.ifz-2.non-border {
  border: none;
}

.ifz-2 .anticon {
  margin-right: 1em;
}

.ifz-2 .ant-btn {
  width: 120px;
  margin: 5px;
}

.ifz-2 .ant-btn.active {
  background: rgb(71, 202, 253);
  border-color: #fff;
}
.if-t {
  background: #fff;
}
.if-t .ant-table-pagination.ant-pagination {
  margin-right: 1em;
}

.ifz-3 {
  margin-top: 1em;
  text-align: center;
}

.ifz-3 .ant-btn {
  margin-right: 8px;
}

.actions-header .ant-btn {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.actions-header .check-btn {
  border-color: #6ff16a;
  color: #fff;
  background: #6ff16a;
}
.actions-header .cancel-btn {
  border-color: #f76363;
  color: #fff;
  background: #f76363;
}

.de-menus {
  margin: 1em 0;
  background: #2b2b2b57;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(56, 56, 56, 1);
  -moz-box-shadow: 2px 2px 8px 0px rgba(56, 56, 56, 1);
  box-shadow: 2px 2px 8px 0px rgba(56, 56, 56, 1);
}

.de-menus .ant-btn {
  margin-right: 1em;
  width: 100px;
}
.de-info {
  margin-top: 1em;
}
.de-info .header {
  background: #2b2b2b57;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.de-info .header .icon {
  margin-right: 5px;
}

.de-info .left .ant-form-item-label {
  text-align: left;
}

.sts-s {
  padding: 10px;
}

.sts-t {
  width: 150px;
}

.client-modal {
  width: 60% !important;
  min-width: 520px;
}
.join-modal {
  top: 10px;
  width: 98% !important;
}
.posDate {
  margin-left: 2em;
  color: #1890ff;
  white-space: pre;
}
.today {
  margin-left: 2em;
  color: #f064dd;
  white-space: pre;
}
.s-t {
  margin-right: 5px;
  font-weight: bold;
}

.table-join {
  border: 3px solid #18ff5d;
  padding: 5px;
}

.closed-area {
  max-height: 0;
  overflow: hidden;
  /* transition: .5s ea; */
  transition: max-height 1s ease;
}
.nvf {
  background: #fff;
  padding: 1em;
  overflow: auto;
}
.no-valid-form .ant-form-item {
  margin-bottom: 0;
}
.no-valid-form .ant-form-item-label {
  text-align: left;
}

.order-zone {
  /* padding: 1em 0; */
  /* background: #858585; */
}
.oib {
  padding: 0 1em;
}
.oib .seperate {
  margin-top: 5px;
}
.oib .title {
  /* color: #fff; */
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
.oib .value {
  color: rgba(255, 255, 255, 0.959);
}
.hd-btn {
  text-align: center;
}
.hd-btn button {
  height: 90px;
  width: 90px;
  /* margin-top: 10px; */
  font-size: 30px;
  background: #4cc9e9;
  color: #fff;
  border-color: #fff;
}
.hd-btn button:hover {
  background: #fff;
  color: #4cc9e9;
  border-color: #4cc9e9;
}
.oz {
  /* padding: 1em; */
}
.order-item {
  height: 85px;
  width: 200px;
  padding-top: 5px;
  word-break: break-word;
  margin-right: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  font-size: 16px;
  align-self: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.order-item-custom {
  height: 100px;
  width: 120px;
  padding-top: 5px;
  word-break: break-word;
  /* margin-right: 1em;
  margin-bottom: 1em; */
  overflow: hidden;
  font-size: 16px;
  align-self: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* border-radius: 5px; */
  color: #fff;
  background: #4b4b4b;
  cursor: pointer;
  user-select: none;
}
.order-item-custom:hover {
  background: #575757;
}
.oi-wrap {
  height: 82px;
}

.order-item.main-item {
  background: rgb(218, 232, 243);
  padding: 5px;
  color: #464646;
}
.order-item.main-item:active {
  background: rgb(179, 222, 255);
}
.order-item.main-item:hover {
  background: rgb(192, 223, 247);
}
.order-item-custom.main-item {
  background: rgb(218, 232, 243);
  color: #464646;
}
.oi-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.oi-text p {
  margin-bottom: 0;
  margin: auto;
}

.order-item .oi-text p {
  font-size: 16px;
  font-weight: bold;
}
.order-item-custom .oi-text p {
  font-size: 12px;
}
.breadscrumb-menu {
  /* margin: 1em; */
  margin: 1em 0;
}
.breadscrumb-menu .ant-breadcrumb-separator {
  /* color: #fff; */
  display: none;
}
.breadscrumb-menu .ant-breadcrumb-link {
  padding: 8px 20px 10px 20px;
  border-radius: 30px;
  background: rgb(95, 232, 241);
  font-size: 16px;
  color: #000;
  margin-right: 10px;
}

.menus-zone {
  flex: 1;
  display: flex;
  overflow: auto;
}
.mz-wrap {
  min-height: min-content; /* needs vendor prefixes */
  display: flex;
  background: #4d4d4d;
  /* width: 100%; */
}
.ab-wrap {
  width: 90px;
  text-align: center;
}
.item-zone {
  display: flex;
  flex-wrap: wrap;
  border-top: #fff solid 1px;
  /* padding-top: 8px; */
}
.item-zone .order-item {
  height: 95px;
}
.item-zone .order-item-custom {
  height: 95px;
}

.item-zone .items {
  margin-top: 30px;
}
.p-text {
  height: 20px;
}

.p-text .symbol {
  margin-left: 5px;
}

.order-item-custom.active {
  background: #32c9dd;
  /* border-radius: 10px; */
}

.order-item-custom .image {
  width: 40px;
  margin-bottom: 5px;
}
.ab-item {
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.ab-item:hover {
  background: #606060;
}
.ab-item.sl {
  border-left: 1px rgb(190, 190, 190) solid;
}
.ab-item.sr {
  border-right: 1px rgb(190, 190, 190) solid;
}
.ab-icon {
  margin-top: 10px;
  font-size: 25px;
}
.ab-text {
  font-size: 12px;
  text-transform: uppercase;
}
.bill-detail-table {
  overflow: auto;
}
.bill-detail-table .green {
  color: #1bd870;
}
.bill-detail-table .red {
  color: #f52044 !important;
}
.bill-detail-table .ant-table-pagination li {
  min-width: 40px;
  height: 40px;
  line-height: 36px;
}

.bill-detail-table .req {
  font-weight: bold;
  color: #f32d9a;
}

.dt2-h {
  background: rgba(50, 190, 255, 0.61);
  margin-bottom: 2em;
  overflow: auto;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 10px -5px rgba(0, 0, 0, 0.75);
}

.dt2-h .sz {
  border-radius: 5px;
  text-align: center;
  /* margin: 0 1em; */
  height: 62px;
  padding-top: 0.6em;
  background: rgba(13, 141, 201, 0.863);
  color: #fff;
}

.dt2-h .checkNo {
  font-weight: bold;
  font-size: 14px;
}

.dt2-h .hb-btn {
  background: #33f78be0;
  width: 100%;
  height: 62px;
}

.close {
  height: 0;
  overflow: hidden;
  background: red;
  transition: all 0.3s linear;
  /* transition: all 3s; */
}
.quantity-zone {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  width: 100%;
}

.quantity-zone .input {
  text-align: center;
  width: 70px;
  height: 38px;
  margin-right: 10px;
  margin-top: 10px;
  border-color: #199bf1;
  font-weight: bold;
}

.quantity-zone .ant-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.alert-noti {
  background: #fd1a54;
}

.alert-noti .ant-notification-notice-message {
  color: #fff;
}

.success-noti {
  background: #1afd4b;
}

.success-noti .ant-notification-notice-message {
  color: #fff;
}

.cq-zone {
  width: 150px;
  margin-top: 1em;
  margin: auto;
}

.selected-row {
  background: rgba(104, 242, 252, 0.548) !important;
}
.selected-row:hover {
  background: none;
}
.bill-detail-table .ant-table-tbody {
  max-height: 200px !important;
}
.bill-detail-table .ant-table-thead > tr:hover > td,
.bill-detail-table .ant-table-tbody > tr:hover > td {
  background: rgba(164, 247, 252, 0.219) !important;
}

.request-btn {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.prev-btn {
  margin-bottom: 1em;
}

.btnz {
  margin-top: 5px;
}
.btnz .ant-btn {
  margin-right: 5px;
}

.sp-btn {
  height: 100px;
  white-space: break-spaces;
  width: 100%;
}
.sp-btn i {
  width: 100%;
  font-size: 30px;
}
.dt2-actions {
  margin-top: 2em;
  display: flex;
  overflow: auto;
}
.dt2-actions .btn-sp {
  width: 120px;
  margin-right: 4px;
}
.dt2-actions button {
  margin-bottom: 4px;
  width: 100%;
}
.dt2-actions button p {
  margin: 0;
}
.dt2-actions i {
  width: 100%;
}

.dt2-actions .btn-d {
  padding: 0;
  height: 48px;
  width: 115px;
  margin-bottom: 4px;
  white-space: normal;
  word-wrap: break-word;
}
.dt2-actions .btn-d span {
  margin-left: 0;
}
.bz.bz2 {
  margin: 0 1em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
}
.bz .row {
  height: 32px;
  padding: 5px 10px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
.bz .row:last-child {
  border-bottom: none;
}

.ab {
  min-height: min-content; /* needs vendor prefixes */
  display: flex;

  flex-wrap: wrap;
  background: #4d4d4d;
}
.ab .ant-btn {
  width: 135px;
  margin: 5px;
  border-color: #000;
  color: red;
}
.table-actions {
  height: 90px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.detail-page {
  padding-bottom: 90px;
}
.col-custom {
  padding: 0 10px;
  margin-top: 5px;
}
.ki-2 .btn {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
.addon-modal {
  width: 650px !important;
}
.addon-btn {
  text-align: center;
  width: 150px;
  margin: 5px 10px;
  display: inline-flex;
  color: #4d4d4d;
  border: 2px solid #4d4d4d;
  height: 52px;
  padding: 2px 5px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
  user-select: none;
}
.addon-btn:hover {
  color: #646464dc;
  border: 2px solid #646464dc;
}
.addon-btn:active {
  color: #646464dc;
  border: 2px solid #646464dc;
}
.addon-btn.active {
  color: #fff;
  background: #4d4d4d;
}
.addon-btn span {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.order-info {
  padding: 10px;
}
.order-item-info {
  color: #fff;
  display: flex;
}
.order-item-info .title {
  width: 100px;
  font-weight: bold;
  text-align: right;
  margin-right: 5px;
}
